<html>
<head>
    <title>Aletheia</title>
</head>
<body>
    <h1>Welcome to AI-generated text detector</h1>
    <form action="/result">
        <label for="text">Enter your text here</label><br>
        <input type="text" name="text"><br>

        <label for="text">Choose model</label>
        <select name="model">
            <option value="bert">Bert</option>
            <option value="deberta">Deberta</option>
            <option value="roberta">Roberta</option>
        </select>

        <input type="submit" value="Submit">
    </form>
</body>
</html>